<h2 class="block-biotheme-footer-menu">Follow-Us</h2>
<div class="footer-social">
	<ul>
		<li class="social-color-1"><a href="https://twitter.com"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li class="social-color-2"><a href="https://www.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
		<li class="social-color-4"><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li class="social-color-5"><a href="https://www.youtube.com"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
	</ul>
</div>