<h2 class="block-biotheme-footer-menu">Contact</h2>
<ul class="contact-info">
	<li><span class="icon fa fa-map-marker"></span> Jasmin Street, 14, Revolution Town, 1011-Djerba, Tunisia.</li>
	<li><span class="icon fa fa-envelope"></span> info@direktbio.com</li>
	<li><span class="icon fa fa-phone"></span> (+216) 22 80 90 00</li>
</ul>
